APP_ENV=development
FIREWORKS_API_KEY=
LLM_MODEL="accounts/fireworks/models/deepseek-v3"
EMBEDDING_MODEL="accounts/fireworks/models/nomic-ai/nomic-embed-text-v1.5"
DB_HOST=db
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
REDIS_HOST=redis
REDIS_PORT=6379
GRAPHBUILDER_RELOAD=true
HORIZONTAL_API_URL=http://api:8000
