APP_NAME=Horizontal
APP_ENV=local
APP_KEY=base64:RqAaSVbOV/a7BlseNER2Zt7CQEFTGknSDxyMAXoiHjw=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single,daily,stderr,slack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info
LOG_SLACK_LEVEL=error

DB_CONNECTION=central
DB_HOST=db
DB_PORT=5432
DB_DATABASE=horizontal
DB_USERNAME=root
DB_PASSWORD=root
DB_SSLMODE=prefer

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
CACHE_STORE=redis

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

FIREWORKS_API_KEY=

LLM_PROVIDER=fireworks
LLM_MODEL=accounts/fireworks/models/deepseek-v3p1-terminus

GRAPH_DB_CONNECTION=memgraph
GRAPH_DB_HOST=memgraph
GRAPH_DB_PORT=7687
GRAPH_DB_USER=horizontal
GRAPH_DB_PASSWORD=password
GRAPH_DB_SCHEME=none

GOOGLE_DRIVE_CLIENT_ID=153917253216-d3g63d6f62drr57k6qg5ipr7imgac73a.apps.googleusercontent.com
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REFRESH_TOKEN=
GOOGLE_DRIVE_ACCESS_TOKEN=

GOOGLE_CLIENT_ID=563174011823-hf7q9u6f85s4imqtcmudg9h8b1n7lvtl.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=horizontal-testing
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_REDIRECT_URI=/api/integrations/google/oauth/callback

JIRA_APP_ID=4047bb57-10d3-413b-bdf2-52125a5f4844
JIRA_CLIENT_ID=bqM6QTIyfokyhUItThGrERbeyz26aJqD
JIRA_CLIENT_SECRET=
JIRA_REDIRECT_URI=http://localhost:9999/api/integrations/jira/oauth/callback

LINEAR_API_TOKEN=
LINEAR_CLIENT_ID=
LINEAR_CLIENT_SECRET=
LINEAR_REDIRECT_URL=

SEARCH_ENGINE_COSINE_SIMILARITY_THRESHOLD=0.45

GRAPH_BUILDER_BASE_URL=graphbuilder:9998
GRAPH_BUILDER_API_TOKEN=

SUPERVISOR_TIMEOUT=60
SUPERVISOR_INTERVAL=5
SUPERVISOR_STUCK_BUCKET_INTERVAL=1800
SUPERVISOR_STUCK_ITEM_INTERVAL=900

GITHUB_BASE_URL=https://api.github.com/
GITHUB_APP_ID=
GITHUB_APP_NAME=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PRIVATE_KEY_FILENAME=
GITHUB_PRIVATE_KEY=

FEATURE_REGISTRATION_ACTIVE=true
FEATURE_QUEUE_BASED_AUTOSCALING_ACTIVE=false

FEATURE_GRAPH_MONITORING_ACTIVE=false
FEATURE_GRAPH_MONITORING_EMERGENCY_ACTION_SLACK_WARNING_ACTIVE=false
FEATURE_GRAPH_MONITORING_EMERGENCY_ACTION_GRAPH_BUILDING_ACTIVE=false

FEATURE_LLM_ROTATION_ACTIVE=true
FEATURE_LLM_ROTATION_FREQUENCY_IN_MINUTES=15

FEATURE_AUTOMATIC_INDEXING_ACTIVE=true
FEATURE_AUTOMATIC_INDEXING_SCHEDULING_DAILY_AT="03:00"

FEATURE_INTEGRATIONS_SLACK_ACTIVE=true
FEATURE_INTEGRATIONS_GOOGLE_CHAT_ACTIVE=true
FEATURE_INTEGRATIONS_JIRA_ACTIVE=true
FEATURE_INTEGRATIONS_LINEAR_ACTIVE=true
FEATURE_INTEGRATIONS_GOOGLE_DRIVE_ACTIVE=true
FEATURE_INTEGRATIONS_GITHUB_ACTIVE=true
FEATURE_INTEGRATIONS_CONFLUENCE_ACTIVE=false
FEATURE_INTEGRATIONS_GITHUB_PROJECTS_ACTIVE=false